[Unit]
Description=API Gateway Service Application
After=network.target

[Service]
Environment="QUOTES_API=http://35.215.83.170"
User=root
WorkingDirectory=~/CSCI644-F24-Aditya-Girisha/ApiGateway/
ExecStart=npm run start
Restart=always

[Install]
WantedBy=multi-user.target