[Unit]
Description=Quote Service Application
After=network.target

[Service]
User=root
WorkingDirectory=/root/simple-microservice-example/QuoteService/
ExecStart=/root/simple-microservice-example/venv/bin/python /root/simple-microservice-example/QuoteService/main.py
Restart=always

[Install]
WantedBy=multi-user.target
